@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

input::placeholder {
  color: darkcyan;
  opacity: 1;
  
}
.activeDiv{
  opacity: 0;
}

.bg{
 color:#191970;
 background-color:#D3D3D3;
  border-radius:2px;
}

.hid{
 display: none;
}